@import "../../styles/variables";

.Todos {
    max-width: 520px;
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    max-height: 550px;
}

.Todos {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.Todos::-webkit-scrollbar {
    width: 6px;
}

.Todos::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.Todos::-webkit-scrollbar-track {
    background-color: transparent;
}


.emptyWrapper {
    width: 100%;
    max-width: 210px;
    margin: 0 auto;
}

.emptyImage {
    margin-bottom: 20px;
}

.emptyTitle {
    display: flex;
    justify-content: center;
    font-family: Kanit;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
}

.lightEmptyTitle {
    color: $black;
}

.darkEmptyTitle {
    color: $white;
}